components/org.wso2.carbon.um.ws.api.stub/src/main/resources/RemoteUserRealmService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax2751="http://dao.service.ws.um.carbon.wso2.org/xsd" xmlns:ns="http://service.ws.um.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax2747="http://core.user.carbon.wso2.org/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2748="http://api.user.carbon.wso2.org/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://service.ws.um.carbon.wso2.org">
    <wsdl:documentation>RemoteUserRealmService</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao.service.ws.um.carbon.wso2.org/xsd">
            <xs:complexType name="RealmConfigurationDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adminRoleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="adminUserName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authorizationManagerClass" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="authzProperties" nillable="true" type="ax2751:RealmPropertyDTO"/>
                    <xs:element minOccurs="0" name="everyOneRoleName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maxUserListLength" type="xs:int"/>
                    <xs:element minOccurs="0" name="persistedTimestamp" nillable="true" type="xs:date"/>
                    <xs:element minOccurs="0" name="readOnly" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="realmClassName" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="realmProperties" nillable="true" type="ax2751:RealmPropertyDTO"/>
                    <xs:element minOccurs="0" name="tenantId" type="xs:int"/>
                    <xs:element minOccurs="0" name="userStoreClass" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="userStoreProperties" nillable="true" type="ax2751:RealmPropertyDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RealmPropertyDTO">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://api.user.carbon.wso2.org/xsd">
            <xs:complexType name="UserStoreException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax2752="http://dao.service.ws.um.carbon.wso2.org/xsd" xmlns:ax2750="http://core.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ws.um.carbon.wso2.org">
            <xs:import namespace="http://core.user.carbon.wso2.org/xsd"/>
            <xs:import namespace="http://dao.service.ws.um.carbon.wso2.org/xsd"/>
            <xs:element name="RemoteUserRealmServiceUserStoreException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="UserStoreException" nillable="true" type="ax2747:UserStoreException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRealmConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getRealmConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2751:RealmConfigurationDTO"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema xmlns:ax2749="http://api.user.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://core.user.carbon.wso2.org/xsd">
            <xs:import namespace="http://api.user.carbon.wso2.org/xsd"/>
            <xs:complexType name="UserStoreException">
                <xs:complexContent>
                    <xs:extension base="ax2748:UserStoreException">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getRealmConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getRealmConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getRealmConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getRealmConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="RemoteUserRealmServiceUserStoreException">
        <wsdl:part name="parameters" element="ns:RemoteUserRealmServiceUserStoreException"/>
    </wsdl:message>
    <wsdl:portType name="RemoteUserRealmServicePortType">
        <wsdl:operation name="getRealmConfiguration">
            <wsdl:input message="ns:getRealmConfigurationRequest" wsaw:Action="urn:getRealmConfiguration"/>
            <wsdl:output message="ns:getRealmConfigurationResponse" wsaw:Action="urn:getRealmConfigurationResponse"/>
            <wsdl:fault message="ns:RemoteUserRealmServiceUserStoreException" name="RemoteUserRealmServiceUserStoreException" wsaw:Action="urn:getRealmConfigurationRemoteUserRealmServiceUserStoreException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="RemoteUserRealmServiceSoap11Binding" type="ns:RemoteUserRealmServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRealmConfiguration">
            <soap:operation soapAction="urn:getRealmConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteUserRealmServiceUserStoreException">
                <soap:fault use="literal" name="RemoteUserRealmServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RemoteUserRealmServiceSoap12Binding" type="ns:RemoteUserRealmServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getRealmConfiguration">
            <soap12:operation soapAction="urn:getRealmConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RemoteUserRealmServiceUserStoreException">
                <soap12:fault use="literal" name="RemoteUserRealmServiceUserStoreException"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="RemoteUserRealmServiceHttpBinding" type="ns:RemoteUserRealmServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getRealmConfiguration">
            <http:operation location="getRealmConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RemoteUserRealmService">
        <wsdl:port name="RemoteUserRealmServiceHttpsSoap11Endpoint" binding="ns:RemoteUserRealmServiceSoap11Binding">
            <soap:address location="https://localhost:9443/services/RemoteUserRealmService.RemoteUserRealmServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RemoteUserRealmServiceHttpsSoap12Endpoint" binding="ns:RemoteUserRealmServiceSoap12Binding">
            <soap12:address location="https://localhost:9443/services/RemoteUserRealmService.RemoteUserRealmServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="RemoteUserRealmServiceHttpsEndpoint" binding="ns:RemoteUserRealmServiceHttpBinding">
            <http:address location="https://localhost:9443/services/RemoteUserRealmService.RemoteUserRealmServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
